<div>
  <%= f.label :campaign_name %>
  <%= f.text_field :campaign_name, class: "form-control" %>
  <%= f.label :campaign_id %>
  <%= f.text_field :campaign_id, class: "form-control" %>
  <br>
  <%= link_to "Remove", '#', class: 'remove_campaign' %>
</div>